//- I use this datalink variable to quickly switch between local and uploaded assets. 
//- For example, say I am uploading files to http://data.baltimoresun.com/example-link
//- If I wanted to switch quickly to my local files, instead of changing all of my links, 
//- I can just modify this single variable.
//- There are two datalink variables so I don't have to rewrite the link every time. 
//- The second datalink variable declaration overwrites the first one. 
//- When I want to switch to the server assets, I comment out the second declaration.
- var datalink = "http://data.baltimoresun.com/news/rent-court/worst-landlords-2016/"
- var datalink = ""

include includes/data.pug

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title Baltimore's worst landlords
		meta(name="description", content="See which landlords in Baltimore have the worst track records based on compiled data.")
		meta(name="author", content="The Baltimore Sun") 
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", type="text/css", 
			href="http://fonts.googleapis.com/css?family=PT+Serif|Lato")
		link(rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css")
		link(rel="stylesheet", type="text/css", href=datalink + "css/style.css")

		//Facebook Stuff
		meta(property="og:title", content="Baltimore's worst landlords")
		meta(property="og:url", content="http://data.baltimoresun.com/news/rent-court/worst-landlords-2016/")
		meta(property="og:image", content="")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="See which landlords in Baltimore have the worst track records based on compiled data.")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="")
		meta(name="twitter:title", content="Baltimore's worst landlords")
		meta(name="twitter:description", content="See which landlords in Baltimore have the worst track records based on compiled data.")
		meta(name="twitter:image", content="")
		meta(name="twitter:domain", content="baltimoresun.com")

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-body below.
		//- include includes/ad-for-header.html
		
	body
		//- This omniture file will also add a topnav. 
		//- Remember to update the omniture tags
		include includes/omniture.html
		
		.container
			.splashWrapper
				.content
					h1 Baltimore's worst landlords
					p The Baltimore Sun analysed data from Maryland Case Search, Baltimore rental registrations, Open Baltimore and other sources to identify landlords and properties that were consistently fined for life, health and safety violations and other infractions. 
						span.methodologyOut Read more about our methodology.
					.buttonDiv.buttonDiv--splash
						p About this project
					.buttonIcon.buttonIcon--social
						i.icon-twitter
						i.icon-facebook
					.buttonIcon.buttonIcon--splash
						i.icon-power
			.listWrapper
				ul.list.list--landlords
					.list__item.subhead
						h2 Baltimore's worst landlords
					each landlord, index in landlords
						li.list__item.landlord(data-landlord=index, class="list__item--" + index)
							.landlordName
								h3 #{landlord.name}
								i.icon-right-big
							.stat.stat--properties
								p Properties
									br
									span #{landlord.numProperties}
							.stat.stat--units
								p Units
									br
									span #{landlord.numUnits}
							.stat.stat--violations
								p Violations
									br
									span #{landlord.numViolations}
				each landlord, lIndex in landlords
					ul.list.list--properties(class="list--properties--" + lIndex)
						.list__item.landlordNameWrap
							.landlordName
								//- .backButton(data-landlord=lIndex)
								//- 	i.icon-left-big
								h3 #{landlord.name}
							.violationTotals
								.stat.stat--lhsTotal
									p LHS: #{landlord.lhsSum}
									i.icon-info-circled
								.stat.stat--ecbTotal
									p ECB: #{landlord.ecbSum}
									i.icon-info-circled
								.stat.stat--habcTotal
									p HABC: #{landlord.habcSum}
									i.icon-info-circled
						each property, index in properties
							if property.landlord_num === lIndex
								li.list__item.property(class='property--'+index data-id=index)
									p.address #{property.address}
									if (property.ecb != 0)
										.stat.stat--violations ECB
											p #{property.ecb}
									if (property.pros != 0)
										.stat.stat--violations HABC
											p #{property.pros}
						.buttonWrap
							.backButton
								i.icon-left-big
			.mapWrapper
				#map
				.socialButtons
					i.icon-twitter 
					i.icon-facebook
			.overlay.overlay--violations
				.content
					i.icon-cancel-1
					h3 Violation definitions
					p
						span LHS: 
						| Life, health and safety violations lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus lorem at elit auctor finibus.
					p
						span ECB: 
						| Environmental control board violations orem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus lorem at elit auctor finibus.
					p
						span HABC: 
						| Housing Authority of Baltimore City violations orem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus lorem at elit auctor finibus.
					p
						span Lead: 
						| Lead paint violations orem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus lorem at elit auctor finibus.
					p.methodologyOut
						span Read about our methodology.
			.overlay.overlay--methodology
				.content
					i.icon-cancel-1
					h3 Methodology
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu blandit orci, a pulvinar nisi.
					p Integer pulvinar magna et ante dapibus auctor id sit amet nunc. Aenean in dui scelerisque, convallis tortor condimentum, facilisis massa.
					p Sed pellentesque ut turpis at blandit. Nunc dui risus, ultrices eu justo ac, tincidunt fringilla justo. Etiam dictum sit amet tortor sit amet vestibulum.
					p Aenean maximus nisl eget nulla lobortis, sed pellentesque felis mollis. Sed efficitur pharetra lacinia.
					p Vestibulum a lacus egestas, pretium nulla eget, rutrum dolor. Duis erat est, semper nec dui a, faucibus lobortis elit. 

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-header above.
		//- #leaderboard			
			include includes/ad-for-body.html
		
		//Javascript
		script(src="https://use.typekit.net/nta3eyd.js")
		script.
			try{Typekit.load({ async: true });}catch(e){}
			var map;
			var markers;
		script(src="https://code.jquery.com/jquery-3.1.1.min.js"
			integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			crossorigin="anonymous")
		script(src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js")
		script(src=datalink + "js/app.js")
		//- script(src=datalink + "js/app.min.js")