//- I use this datalink variable to quickly switch between using local assets and using uploaded assets. 
//- For example, say I am uploading files to http://data.baltimoresun.com/example-link
//- If I wanted to switch quickly to my local files, instead of changing all of my links, 
//- I can just modify this single variable.
//- There are two datalink variables so I don't have to rewrite the link every time. 
//- The second datalink variable declaration overwrites the first one. 
//- When I want to switch to my server assets, I comment out the second declaration.
- var datalink = "http://data.baltimoresun.com/PROJECTLINK/"
- var datalink = ""

include includes/data.pug

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title
		meta(name="description", content="")
		meta(name="author", content="") 
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		//link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Lato|Montserrat")
		link(rel="stylesheet", type="text/css", href=datalink + "css/style.css")

		//Facebook Stuff
		meta(property="og:title", content="")
		meta(property="og:url", content="")
		meta(property="og:image", content="")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="")
		meta(name="twitter:title", content="")
		meta(name="twitter:description", content="")
		meta(name="twitter:image", content="")
		meta(name="twitter:domain", content="baltimoresun.com")

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-body below.
		//- include includes/ad-for-header.html
		
	body
		//- This omniture file will also add a topnav. 
		//- Remember to update the omniture tags
		include includes/omniture.html
		
		.container
			.titlebox 
				h1 Baltimore’s worst landlords
				a(href="#") ABOUT THIS PROJECT
			//- h1 H1 / MONTSERRAT
			//- p P / LATO Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec eros ac risus condimentum pretium. In faucibus quis risus sit amet ornare.
			//- a(href="" target="_blank") A / LATO / GOLDENROD
			.listWrapper
				ul.list.list--landlords
					each landlord, index in landlords
						li.list__item(data-landlord=index, class="list__item--" + index)
							.landlordName
								h3 #{landlord.name}
								i.icon-right-big
							.stat.stat--properties
								p Properties
									br
									span #{landlord.numProperties}
							.stat.stat--units
								p Units
									br
									span #{landlord.numUnits}
							.stat.stat--violations
								p Violations
									br
									span #{landlord.numViolations}
				each landlord, lIndex in landlords
					ul.list.list--properties(data-landlord=lIndex, class="list--properties--" + lIndex)
						.landlordName
							.backButton
								i.icon-left-big
							h3 #{landlord.name} Properties
						each property, index in properties
							if property.landlord_num === lIndex
								li.list__item
									p #{property.address}
									.stat.stat--violations ECB
										p #{property.ecb}
									.stat.stat--violations HABC
										p #{property.pros}
									.stat.stat--violations Lead
										p #{property.lpv}
			.mapWrapper test
		

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-header above.
		//- #leaderboard			
			include includes/ad-for-body.html
		
		//Javascript
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src=datalink + "js/app.js")
		script(src="https://use.typekit.net/nta3eyd.js")
		script.
			try{Typekit.load({ async: true });}catch(e){}	
		//- script(src=datalink + "js/app.min.js")
		
