//- I use this datalink variable to quickly switch between local and uploaded assets. 
//- For example, say I am uploading files to http://data.baltimoresun.com/example-link
//- If I wanted to switch quickly to my local files, instead of changing all of my links, 
//- I can just modify this single variable.
//- There are two datalink variables so I don't have to rewrite the link every time. 
//- The second datalink variable declaration overwrites the first one. 
//- When I want to switch to the server assets, I comment out the second declaration.
- var datalink = "http://data.baltimoresun.com/news/dismissed/landlords"
- var datalink = ""

include includes/data.pug

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title Baltimore's most cited landlords
		meta(name="description", content="See which landlords in Baltimore have the worst track records based on compiled data.")
		meta(name="author", content="The Baltimore Sun")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", type="text/css", 
			href="http://fonts.googleapis.com/css?family=PT+Serif|Lato")
		link(rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css")
		link(rel="stylesheet", type="text/css", href=datalink + "css/style.css")

		//Facebook Stuff
		meta(property="og:title", content="Baltimore's most cited landlords")
		meta(property="og:url", content="http://data.baltimoresun.com/news/dismissed/landlords")
		meta(property="og:image", content="")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="See which landlords in Baltimore have the worst track records based on compiled data.")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="")
		meta(name="twitter:title", content="Baltimore's most cited landlords")
		meta(name="twitter:description", content="See which landlords in Baltimore have the worst track records based on compiled data.")
		meta(name="twitter:image", content="")
		meta(name="twitter:domain", content="baltimoresun.com")

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-body below.
		//- include includes/ad-for-header.html
		
	body
		//- This omniture file will also add a topnav. 
		//- Remember to update the omniture tags
		include includes/omniture.html
		
		.container
			.splashWrapper
				.content
					h1 Baltimore's most cited landlords
					.introText
						p The Baltimore Sun analyzedysed data from Maryland Case Search, Baltimore rental registrations, Open Baltimore and other sources to identify landlords and properties that were consistently fined for life, health and safety violations and other infractions.
						p These are the landlords with the most citations and their properties.
						p
							span.methodologyOut Read more about our methodology.
					.buttonIcon.buttonIcon--social
						i.icon-twitter
						i.icon-facebook
					.buttonDiv.buttonDiv--splash
						p START
					//- .buttonIcon.buttonIcon--splash
					//- 	i.icon-power
			.listWrapper
				ul.list.list--landlords
					.list__item.subhead
						h2 Baltimore's most cited landlords
						p This list was determined using the number of life, health and safety violations revealed in court cases between tenants and landlords.
						p The properties on the map are not necessarily those that had violations. 
						p
							span.methodologyOut Read more about our methodology.
					each landlord, index in landlords
						li.list__item.landlord(data-landlord=landlord.id, class="list__item--" + landlord.id)
							.landlordName
								h3 #{landlord.name}
								i.icon-right-big
							.stat.stat--violations
								p Life, health & safety
									br
									span #{landlord.lhsSum} violations
							.stat.stat--properties
								p Properties
									br
									span #{landlord.numProperties}
							.stat.stat--units
								p Units
									br
									span #{landlord.numUnits}
				each landlord, lIndex in landlords
					ul.list.list--properties(class="list--properties--" + landlord.id)
						.list__item.landlordNameWrap.landlordNameWrap--main
							.landlordName
								//- .backButton(data-landlord=lIndex)
								//- 	i.icon-left-big
								p Properties of
								h2 #{landlord.name}
							.violationTotals.violationTotals
								.stat.stat--lhsTotal
									p Life, health & safety
										br
										span #{landlord.lhsSum} violations
									i.icon-info-circled
							p.explainer Each point is a property traced back to this landlord. However, the locations of life, health and safety violations are omitted from the map because they could not be reliably plotted.
						if (landlord.ecbSum != 0 || landlord.habcSum != 0)
							.list__item.landlordNameWrap.landlordNameWrap--geo
								.landlordName
									//- .backButton(data-landlord=lIndex)
									//- 	i.icon-left-big
									h3 Other violations
								p.explainer Although life, health and safety violations could not be plotted on the map, other violations were also associated with these addresses.
								.violationTotals.violationTotals
									if (landlord.ecbSum != 0)
										.stat.stat--ecbTotal
											p ECB: #{landlord.ecbSum} violations
											i.icon-info-circled
									if (landlord.habcSum != 0)
										.stat.stat--habcTotal
											p HABC: #{landlord.habcSum} violations
											i.icon-info-circled
								p.explainer Because the severity of these violations vary, only life, health and safety violations were used to choose the worst-offending landlords.
								each property in properties
									if property.landlord_num === landlord.id
										if (property.ecb != 0 || property.pros != 0)
											li.list__item.property(data-id=(property.id-1))
												p.address #{property.address}
												if (property.pros != 0)
													.stat.stat--violations HABC: #{property.pros}	
												if (property.ecb != 0)
													.stat.stat--violations ECB: #{property.ecb}
						if (landlord.numProperties != 0)
							.list__item.landlordNameWrap.landlordNameWrap--other
								.landlordName
									//- .backButton(data-landlord=lIndex)
									//- 	i.icon-left-big
									h3 Properties
								each property in properties
									if property.landlord_num === landlord.id
										if (property.ecb == 0 && property.pros == 0)
											li.list__item.property(data-id=(property.id-1))
												p.address #{property.address}

						.buttonWrap
							.backButton
								i.icon-left-big
			.mapWrapper
				#map
				.socialButtons
					i.icon-twitter
					i.icon-facebook
			.overlay.overlay--violations
				.content
					i.icon-cancel-1
					h3 Violation definitions
					p
						span LHS: 
						| Life, health and safety violations include violations from the Maryland Judiciary Case Search analyzed by attorneys at the Maryland Volunteer Lawyer Service. These violations revealed in rent court show substandard housing conditions for tenants.
					p
						span ECB: 
						| Environmental control board violations are provided by the Baltimore City Environmental Control Board. These less severe violations range from untidy lawns to pest control.
					p
						span HABC: 
						| The Housing Authority of Baltimore City prosecutes landlords for properties that violate Baltimore's housing code. 
					p.methodologyOut
						span Read about our methodology.
			.overlay.overlay--methodology
				.content
					i.icon-cancel-1
					h3 Methodology
					p This interactive is based on case data from the 
						a(herf="http://casesearch.courts.state.md.us/casesearch/" target="_blank") Maryland Judiciary Case Search. 
						| The landlords and life, health and safety violations were scraped and analyzed for The Sun by attorneys at the Maryland Volunteer Lawyer Service. 
					p Additional addresses affiliated with these landlords were pulled from a database provided by the Housing Authority of Baltimore City.
					p Additional violations information was provided by the Baltimore City Environmental Control Board. 

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-header above.
		//- #leaderboard			
			include includes/ad-for-body.html
		
		//Javascript
		script(src="https://use.typekit.net/nta3eyd.js")
		script.
			try{Typekit.load({ async: true });}catch(e){}
			var map;
			var markers;
		script(src="https://code.jquery.com/jquery-3.1.1.min.js"
			integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			crossorigin="anonymous")
		script(src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js")
		script(src=datalink + "js/app.js")
		//- script(src=datalink + "js/app.min.js")